src/UOW/ITCS201/portfolio/itcs201-portfolio/lab-viva3/network.dtd

<!-- DTD for Pete's network -->

<!ELEMENT network ( computer* )>

<!ELEMENT computer ( name, objective, arch, os, services)>

<!ELEMENT name ( #PCDATA )>

<!ELEMENT objective ( #PCDATA )>

<!ELEMENT arch ( #PCDATA )>

<!ELEMENT os ( name, release, nickname, revision )>

<!ELEMENT release ( #PCDATA )>

<!ELEMENT nickname ( #PCDATA )>

<!ELEMENT revision ( #PCDATA )>
